:root{
  --bg-wire-1: #DADADA;
  --bg-wire-2: #D9D9D9;
  --bg-wire-3: #252525;
  --bg-wire-4: #ffffff;
  --bg-wire-5: #585858;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, Arial, Helvetica, sans-serif;
}